@import '../../sass/variables';
@import '../../sass/typography';

.btn{
    cursor: pointer;
    border: none;
}

.btn-color-1{
    color: var(--color-1)
}
.btn-color-2{
    color: var(--color-2)
}
.btn-color-3{
    color: var(--color-3)
}

.btn-icon-1{
    background-color: transparent;
    padding: 8px 20px;
    font-size: $font-size-l2;
    
}